   
    <div class="card">
        <img src="./img/mdp.jpg" class="card-img-top" alt="..." class="d-block w-100">
        <div class="card-body">
            <h5 class="card-title">Berita Terkini</h5>
            <div class="row">
              <% berita.forEach(data => { %>
                  <div class="col-md-6">
                      <h5><%= data.judul %></h5>
                      <p><%= data.isi %></p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              <% }) %>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    <h1>Home</h1>
   
   
    <p> Ini adalah Home</p>
