   
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./img/mdp.jpg" class="d-block w-100" alt="...">
        </div>
        <h5 class="card-title">Berita Terkini</h5>
        <% berita.forEach(data => { %>
            <h5> <%= data.judul %> </h5>
            <p><%= data.isi %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <% }) %>
  
    <h1>Home</h1>
   
   
    <p> Ini adalah Home</p>
